@model App.Models.ProductViewModel

<div class="card" style="width: 18rem;">
    <div class="card-header">
        <p class="card-text">Id: @Model.Id</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Price</p>
        <a href="#" class="btn btn-primary">Buy</a>
    </div>
</div>