@page "/aboutrazor.html"

@{
    Layout = "_Layout";
}

<h1>Giới thiệu về razor</h1>

<p>Razor là 1 template engine trong .NET, nó là TEMPLATE ENGINE mặc định của ASP.NET MVC, có chức năng render (dựng)
    html từ các view (.cshtml). View (.cshtml) cho phép viết HTML và những code C#</p>